.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1016;
  color: white;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  background: transparent;
}

.navbar__container {
  max-width: 1200px;
  margin: auto;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
}

.navbar--scrolled {
  background-color: rgba(14, 16, 22, 0.35);
  backdrop-filter: blur(15px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar__cv {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 18px;
  border-radius: 999px;
  background: linear-gradient(135deg, #d4af37, #f5d76e);
  color: #000;
  font-weight: 400;
  font-size: 0.85rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar__cv:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(212, 175, 55, 0.4);
}

/* ===== DESKTOP LINKS ===== */

.navbar__links {
  font-family: "inter", sans-serif;
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  position: relative;
}

.navbar__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 0.5px;
  background: #d4af37;
  transition: width 0.3s ease;
}

.navbar__link:hover {
  color: #d4af37;
}

.navbar__link:hover::after {
  width: 100%;
}

/* activo (cuando haces click) */
.navbar__link.active {
  color: #d4af37;
  font-weight: bold;
}

.navbar__link.active::after {
  width: 100%;
}

/* ===== BOTÓN MOBILE ===== */

.navbar__toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* ===== MOBILE MENU ===== */

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background-color: #1c1c1c;
  padding: 80px 30px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
}

.mobile-menu__list {
  list-style: none;
  padding: 0;
}

.mobile-menu__list li {
  margin-bottom: 25px;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }

  .navbar__toggle {
    display: block;
  }
}
